@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Challenge</h1>
    <p class="lead">The Challenge is a free social network that will help you and your friends build new better habits.</p>
    <p>@Html.ActionLink("Learn more", "About", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            <h2>View your profile</h2>
            <p>
                Explore your profile and check your status.
            </p>
            <p>@Html.ActionLink("View", "Index", "Manage", null, new { @class = "btn btn-default" })</p>
        }
        else
        {
            <h2>Getting started</h2>
            <p>
                Register for free and start improving yourself! Keep motivated and create new habits.
            </p>
            <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        <h2>Challenge yourself</h2>
        <p>Browse all challenges and challenge yourself! Struggle! Polish!</p>
        <p>@Html.ActionLink("Find a challenge", "Index", "Challenges", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Challenge friends</h2>
        <p>Find new frieds and challenge them. Complete and be the winner!</p>
        <p>@Html.ActionLink("Find friends", "Index", "Users", null, new { @class = "btn btn-default" })</p>
    </div>
</div>