@model ChallengeViewModel
<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h2 class="panel-title">@Model.Name</h2>
        </div>
        <div class="panel-body">
            @if (Model.Image != null)
            {
                <img class="img-responsive img-rounded" src="/images/challenges/@Model.Image" alt="" />
            }
            @Model.Description
        </div>
    </div>
    <p>Created by @Model.UserName</p>
    <hr/>
    <p>
        @using (Ajax.BeginForm(new AjaxOptions {
            HttpMethod = "POST",
            Url = @Url.HttpRouteUrl("DefaultApi", new { controller = "UsersChallenges", action = "MyChallenges", id = Model.Id }),
            OnSuccess = "Challenges.ChallengeMyselfCallback"
        }))
        {
            @Html.Hidden("challengeId", @Model.Id)
            <input type="submit" class="btn btn-warning btn-lg" id="ChallengeMyself" value="Challenge Myself" />
        }
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/challenges")
    <script>
        $(document).ready(function () {
            @if (@Model.MyselfChallenged != null)
            {
                @:Challenges.ChangeChallengeUserBtn($('#ChallengeMyself'), @((int)Model.MyselfChallenged.Status) );
            }
        });
    </script>
}
